extends ./base.jade

block scripts
	if env == 'development'
		link(rel='stylesheet', href='/css/app.css')
	else
		link(rel='stylesheet', href='/css/app.css')

block content

	script(type='text/javascript').
		// jenk global variable bootstrapping
		window.bootstrap = {};
		window.bootstrap.user = !{JSON.stringify(user || {})};
		window.bootstrap.myBevies = !{JSON.stringify(myBevies || [])};
		window.bootstrap.notifications = !{JSON.stringify(notifications || [])};
		window.bootstrap.posts = !{JSON.stringify(posts || [])};
		window.bootstrap.threads = !{JSON.stringify(threads || [])};


	if env == 'development'
		script(src='http://localhost:8888/build/app.bundle.js')
	else
		script(src='http://' + hostname + '/js/build/app.bundle.js')

