extends ./base.jade

block scripts
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	link( rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	if env != 'development'
		link(rel='stylesheet', href='/css/app.css')

	script(type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js")
	script(type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js")
	script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")

block content

	div(id='app')

	script(type='text/javascript').
		// jenk global variable bootstrapping
		window.bootstrap = {};
		window.bootstrap.user = !{JSON.stringify(user || {})};
		window.bootstrap.env = !{JSON.stringify(env || 'production')};
		window.bootstrap.access_token = !{JSON.stringify(access_token || '')};
		window.bootstrap.refresh_token = !{JSON.stringify(refresh_token || '')};
		window.bootstrap.expires_in = !{JSON.stringify(expires_in || '')};

	if env == 'development'
		script(src='http://localhost:8888/build/app.bundle.js')
	else
		script(src='http://' + hostname + '/js/build/app.bundle.js')
		
	
