<body>
  <table>
    <tbody>
      <tr>
        <td align="center" style="vertical-align:middle;">
          <a title="Bevy" href="http://joinbevy.com">
            <img width="50" height="50" src='http://joinbevy.com/img/logo_200.png'></img>
          </a>
          <span style="font-size:3em;color:#2CB673">
            Bevy
          </span>
        </td>
      </tr>
      <tr>
        <td align="center" style="vertical-align:middle;">
          <span>We searched for Bevy groups you're a part of, using <%= user_email %>, and we found one.</span>
          <br />
          <br />
          <span>You can sign in to the following group:</span>
          <br />
          <span><%= bevy_name %></span> - <a title="<%= bevy_name %>" href="http://<%= bevy_slug %>.<%= domain %>">http://<%= bevy_slug %>.<%= domain %></a>
        </td>
      </tr>
      <tr>
        <td align="center" style="">
          <span>Forgot your password for this account?</span>
          <br />
          <a title="Forgot Password" href="http://<%= domain %>/forgot">We can send you a password reset email</a>
          <br />
          <br />
          <span>Is your group not listed here?</span>
          <br />
          <a title="Forgot Group" href="http://<%= domain %>/forgot/group<">Try a different email</a>
          <span>or,</span>
          <a title="Create a new group" href="http://<%= domain %>/create">create a new Bevy group</a>
          <br />
          <br />
          <span>Still need something?</span>
          <a title="Email Us" href="mailto:contact@joinbevy.com">Email Us</a>
          <br />
          <br />
          <span>Thanks,</span>
          <br />
          <span>Team Bevy</span>
        </td>
      </tr>
    </tbody>
  </table>
</body>
